In [1]:
import pandas as pd

In [30]:
df_real = pd.read_csv('./motifs.csv')
df_app = pd.read_csv('./motifs_app.csv')

In [31]:
df_real.head()

,exam_id,lead,motif_3_0,motif_3_1,motif_3_2,motif_3_3,motif_4_0,motif_4_1,motif_4_2,motif_4_3,...,motif_5_29,motif_5_30,motif_5_31,motif_5_32,motif_5_33,duration_motif_3,duration_motif_4,duration_motif_5,array_p_4,array_p_5
0,exame 100,lead 0,NaN,NaN,6888082,180755,NaN,NaN,NaN,NaN,...,209723810,55085592,72383179,36992523,590450,3.84886,798.487468,128624.769303,"[0.06, 0.12, 0.25, 0.5]","[0.03, 0.06, 0.12, 0.25, 0.5]"

In [3]:
df_real.drop(columns=["motif_3_2", "motif_3_3"], inplace= True)
df_app.drop(columns=["motif_3_2", "motif_3_3"], inplace= True)
df_real.dropna(axis=1, how='all', inplace=True)
df_app.dropna(axis=1, how='all', inplace=True)

In [4]:
df_real.head()

,,,,,,,motif_3_1,motif_4_0,motif_4_1,motif_4_2,motif_4_3,motif_5_4,motif_5_6,motif_5_7,motif_5_8,motif_5_9,...,motif_5_29,motif_5_30,motif_5_31,motif_5_32,motif_5_33,duration_motif_3,duration_motif_4,duration_motif_5,array_p_4,array_p_5
exame 100,lead 0,NaN,NaN,6888082,180755,NaN,1191348017,24170363,33477284,22113113,402937,168818069658,3808162412,4502002536,602721202,201893502,...,128624.769303,"""[1",1,1,"1]""","""[1",1,1,1,"1]"""

In [5]:
df_app.head(10)

,exam_id,lead,motif_4_4,motif_4_6,motif_4_7,motif_4_8,motif_4_9,motif_4_10,motif_5_11,motif_5_13,...,motif_5_29,motif_5_30,motif_5_31,motif_5_32,motif_5_33,duration_motif_3,duration_motif_4,duration_motif_5,array_p_4,array_p_5
0,exame 100,lead 0,35922681,1263808,599714,421660,216953,6652,22864562,5284310,...,6838,12107,1940,2187,679,3.840622,22.755012,19.888355,"[0.3, 0.3, 0.3, 0.3]","[0.3, 0.3, 0.3, 0.3, 0.3]"
1,exame 100,lead 0,105257737,3981981,1891124,1359392,767444,23206,57127007,14774781,...,26919,24116,12503,5076,1222,3.839290,66.442606,51.682878,"[0.05, 0.1, 0.15, 0.2]","[0.05, 0.1, 0.15, 0.2, 0.25]"
2,exame 100,lead 0,121324306,5057671,2356363,1645387,1018479,30025,132970271,31580310,...,43058,40376,9873,6699,1733,3.855057,76.610547,114.020352,"[0.2, 0.15, 0.1, 0.05]","[0.25, 0.2, 0.15, 0.1, 0.05]"
3,exame 100,lead 0,94056751,3433553,1619975,1178766,685724,19326,46372336,12471132,...,19990,20501,4339,3374,962,3.843420,59.522660,42.544039,"[0, 0.1, 0.18, 0.24]","[0, 0.1, 0.18, 0.24, 0.3]"
4,exame 100,lead 0,118571159,4909013,2293941,1640987,923150,31476,124893308,25042376,...,73651,57032,9785,9296,2385,3.845361,72.349544,100.520025,"[0.24, 0.18, 0.1, 0]","[0.3, 0.24, 0.18, 0.1, 0]"
5,exame 100,lead 0,64069745,2525603,1245760,865324,551582,16565,148001409,27879464,...,54682,47035,15290,8718,1524,3.938719,40.385519,118.976923,"[0.5, 0.25, 0.12, 0.06]","[0.5, 0.25, 0.12, 0.06, 0.03]"
6,exame 100,lead 0,43653360,1626797,742301,528585,263490,7947,30875825,7890776,...,16709,14912,2683,2456,619,3.841885,28.388449,28.720295,"[0.06, 0.12, 0.25, 0.5]","[0.03, 0.06, 0.12, 0.25, 0.5]"